.m1 {  font-family: Arial, Helvetica, sans-serif; font-size: 14pt; font-style: normal; font-weight: bold}

.m2 {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-style: normal; font-weight: normal}

.m3 {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; font-weight: normal}

.reg {  font-family: Arial, Helvetica, sans-serif; color: #000099}

.hd1 {  font-family: Arial, Helvetica, sans-serif; font-size: 24pt; font-weight: bold; color: #000099}

.hd2 {  font-family: Arial, Helvetica, sans-serif; font-size: 18pt; font-weight: bold; color: #000099}

.hd1t {  font-family: "Times New Roman", Times, serif; font-size: 24pt; font-weight: bold; color: #000099}

.hd2t {  font-family: "Times New Roman", Times, serif; font-size: 18pt; font-weight: bold; color: #000099}

.hd3t {  font-family: "Times New Roman", Times, serif; font-size: 14pt; font-weight: bold; color: #000099}

.hd3 {  font-family: Arial, Helvetica, sans-serif; font-size: 14pt; font-weight: bold; color: #000099}

.regt {  font-family: "Times New Roman", Times, serif; color: #000099}

.m1bl { font-family: Arial, Helvetica, sans-serif; font-size: 14pt; font-style: normal; font-weight: bold ; color: #000099}

.m1reg {  font-family: Arial, Helvetica, sans-serif; font-size: 14pt}

span.m1blsp {  font-family: Arial, Helvetica, sans-serif; font-size: 14pt; font-weight: bold}

p.m2 {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt}

p.m3 {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt}

.m2bl {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #000099}

p {  font-family: Arial, Helvetica, sans-serif}

.m2italic { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-style: italic; font-weight: normal }
